<!DOCTYPE html>
<html>
        
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
background: linear-gradient(283deg, #63b4ec, #ab48ee);
    background-size: 400% 400%;
    
    -webkit-animation: AnimationName 23s ease infinite;
    -moz-animation: AnimationName 23s ease infinite;
    animation: AnimationName 23s ease infinite;
    
    @-webkit-keyframes AnimationName {
        0%{background-position:93% 0%}
        50%{background-position:0% 100%}
        100%{background-position:93% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:93% 0%}
        50%{background-position:0% 100%}
        100%{background-position:93% 0%}
    }
    @keyframes AnimationName { 
        0%{background-position:93% 0%}
        50%{background-position:0% 100%}
        100%{background-position:93% 0%}
    }

    <h1> Paula Andrea Mayorga </h1>
    

    <img src="https://yt3.ggpht.com/-ISFxxdwmHzk/AAAAAAAAAAI/AAAAAAAAAAA/OLobXBF48Dg/s88-c-k-no-mo-rj-c0xffffff/photo.jpg">
   
    #girar {
        border: 5px
        width: 100 px
        heigth: 100 px
        transform-origin: center center;
        cursor: pointer;
    }

    #girar:hover {
        transform: rotate(729deg);

    }

    <h1>Biografía</h1>
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
<p>
Hola, mi nombre es Paula.
<p>
 Tengo 20 años, actualmente estoy estudiando ingeniería química en la universidad de La Sabana, voy cursando séptimo semestre.
</p>
   Desde que tengo aproximadamente 5 años practico natación y patinaje, ¡Son algunas de mis pasiones!
</p>
   
</p>
Me encanta disfrutar momentos con mis seres queridos, mis planes favoritos son ir a cine e ir a comer.
</p>


<h1>Intereses</h1>
<ul>
    <li> Natación</li>
    <li>Viajar</li>
    <li>Investiación</li>
</ul>

<h1>Enlaces</h1>
<ul>
    <li1><a href="https://facebook.com">Facebook</a></li1>  
   <li2><a href="https://twitter.com">Twitter</a></li2>
</ul>



</body>
</html>